* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(0, 0%, 95%);
}
p{
    color: hsl(0, 0%, 100%, 0.75);
}
main {
  margin: auto;
  border-radius: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.left-content {
  background-color: hsl(31, 77%, 52%);
  padding: 1.8em;
  height: 50%;
  width: 33%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.left-content h2 {
  padding: 2px;
  color: white;
}
.middle-content {
  background-color: hsl(184, 100%, 22%);
  padding: 1.8em;
  height: 50%;
  width: 33%;
}
.middle-content h2 {
  padding: 2px;
  color: white;
}

.right-content {
  background-color: hsl(179, 100%, 13%);
  padding: 1.8em;
  height: 50%;
  width: 33%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.right-content h2 {
  padding: 2px;
  color: white;
}

.button1 {
  border-radius: 30px;
  border: 2px;
  font-size: 10px;
  padding: 15px 20px;
  width: 125px;
  color:hsl(31, 77%, 52%);
  background-color: #ffffff;
}

.button2 {
  border-radius: 30px;
  border: 2px;
  font-size: 10px;
  padding: 15px 20px;
  width: 125px;
  color: hsl(184, 100%, 22%);
  background-color: #ffffff;
}

.button3 {
  border-radius: 30px;
  border: 2px;
  font-size: 10px;
  padding: 15px 20px;
  width: 125px;
  color: hsl(179, 100%, 13%);
  background-color: #ffffff;
}


.special_button {
  border-radius: 30px;
  border: 2px;
  color: rgb(206, 0, 27);
  font-size: 15px;
  font-weight: 700;
  margin:50px 300px;
  place-items: center;
  padding: 15px 20px;
  width: 50%;
  height:5vh;
  cursor: pointer;
  background-color: #c9c9c9;
}

.button1:hover{
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
  color: rgb(255, 255, 255);
  background-color:transparent;
}


.button2:hover{
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
  color: rgb(255, 255, 255);
  background-color:transparent;
}

.button3:hover{
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
  color: rgb(255, 255, 255);
  background-color:transparent;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
}
